<footer class="footer fixed-bottom">
  <div class="container">
    <small>
      The <%= link_to "Link first", '#' %>
      by <%= link_to "Mateusz Tomczak", '#' %>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </div>
</footer>