<nav class="navbar navbar-expand-lg navbar-fixed-top bg-dark">
  <div class="container">
    <%= link_to "Simple App", '#', id: "logo", class: "navbar-brand" %>
      <div class="navbar-nav">
        <%= link_to "Home", '#', class: "nav-item nav-link" %>
        <%= link_to "Help", '#', class: "nav-item nav-link" %>
        <%= link_to "Log in", '#', class: "nav-item nav-link" %>
      </div>
    </div>
  </div>
</nav>